.quodrant {
  width: 89.99%;
  height: 100vh;
  margin: 0;
  padding: 0; 
}

.qtop,
.qbottom {
  width: 96%;
  height: 50vh;
}

.quodrant1,
.quodrant2,
.quodrant3,
.quodrant4 {
  float: left;
  width: 46%;
  height: 100%;
  margin-left: 3%;
}

.quodrant1 {
}

.quodrant2 {
}

  .quodrant2 img {
    position: absolute;
    top: 10%;
    height: 40%;
    width: 20%;
    border-radius: 50%;
  }

  .quodrant2 div {
    padding: 3%;
    height: 100%;
    width: 50%;
    float: left;
  }

.quodrant3 {
}

.quodrant4 {
}
