<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar  fixed-top" style="background-color: #072448;">
  <a class="navbar-brand" href="#" style="color:#f7a325; margin-left:1%;">CostNotebook Application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="isUserAuthenticated()" class="nav-item">
        <a class="nav-link" routerLink="/transaction" style="color:#f7a325;">Transactions</a>
      </li>
      <li *ngIf="isUserAuthenticated()" class="nav-item">
        <a class="nav-link" routerLink style="color:#f7a325;" (click)="logOut()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div *ngIf="!isUserAuthenticated()">
  <login></login>
</div>
<div *ngIf="isUserAuthenticated()" class="container-fluid h-100 fixed-top" style="margin-top: 0px; margin-top:7vh">
  <div class="row h-100">
    <div class="col-2" id="green" style="float: left; width: 3%; background-color: #072448; color: #f7a325; display: flex;
  align-items: center">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="isUserAuthenticated()" class="nav-item">
          <a class="nav-link" routerLink="/transaction" style="color:#f7a325;"><mat-icon>receipt_long</mat-icon></a>
        </li>
        <li *ngIf="isUserAuthenticated()" class="nav-item">
          <a class="nav-link" routerLink style="color:#f7a325;" (click)="logOut()">Logout</a>
        </li>
      </ul>
    </div>
    <!--Contains the main content
            of the webpage-->
    <div class='quodrant' style="float:left;">
      <div class='qtop'>
        <div class='quodrant1'>
          <h1 style="text-align:center">Monthly expenses</h1>
          <div class="chart-container">
            <canvas id="AmountPieChart">{{ chart }}</canvas>
          </div>
        </div>
        <div class='quodrant2'>
          <div>
            <img class="logoImg" src="assets/images/user_logo.png" />
          </div>
          <div>
            <h3>
              Email: <h4>{{loginUser.userEmail}}</h4>
            </h3>
            <h3>
              Name: <h4>{{loginUser.firstName}}</h4>
            </h3>
            <h3>
              Last Name:<h4> {{loginUser.lastName}}</h4>
            </h3>
          </div>
        </div>
      </div>
      <div class='qbottom'>
        <div class='quodrant3'>
          <h1>Annual Inocomings and Outcomigns</h1>
          <div class="chart-container">
            <canvas id="AmountTransactionBarChart">{{ chart }}</canvas>
          </div>
        </div>
        <div class='quodrant4'></div>
      </div>
    </div>
  </div>
</div>


