<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">CostNoteBook Application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logOut()">Logout</a>
      </li>
      <li *ngIf="!isUserAuthenticated()" class="nav-item active">
        <a class="nav-link" routerLink="/bill">Bills</a>
      </li>
    </ul>
  </div>
</nav>
  <div class="container mt-5">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Search..."
    />
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date of transaction</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of UserList | async;">
        <td>{{user.date}}</td>
        <td>{{user.description}}</td>
        <td>{{TransactionCategory[user.category]}}</td>
        <td>{{user.amount}}zł</td>
      </tr>
    </tbody>
  </table>
</div>

